{%
set tabs = {
    'phpmetrics': {
        'link-overview': 'Overview',
        'link-score': 'Score',
        'link-relations': 'Relations map',
        'link-repartition': 'Repartition',
        'link-explore': 'Explore',
    }, 
    'pdepend': {
        'overview': 'Overview',
        'packages': 'Packages',
        'dependencies': 'Dependencies',
        'complexity': 'Complexity',
        'separator': '',
        'metrics-file': 'File metrics',
        'metrics-package': 'Package metrics',
        'metrics-trait': 'Trait metrics',
        'metrics-class': 'Class metrics',
        'metrics-method': 'Method metrics',
        'metrics-function': 'Function metrics',
    }, 
    'phpcs': {
        'overview': 'Overview',
        'errors': 'Errors',
    }, 
    'phpmd': {
        'overview': 'Overview',
        'errors': 'Errors',
        'parsing': 'Parsing Errors',
    }, 
    'phpcpd': {
        'overview': 'Overview',
        'errors': 'Errors',
    }, 
    'phploc': {
        'overview': 'Overview',
        'ccn': 'Cyclomatic Complexity',
        'dependencies': 'Dependencies',
    },
}
%}
<html>
<head>
    <title>phpqa report - v{{ appVersion }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        html, body {
            height: 100%;
        }
        .navbar-brand span {
            font-size: 0.8em;
            color: #ccc;
        }
        .navbar-text {
            color: #ccc !important;
        }
        iframe {
            width: 100%;
            height: 100% !important;
            border: 0;
        }
        .dropdown a.dropdown-toggle {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="navbar-brand">
                <a target="_blank" href="https://github.com/EdgedesignCZ/phpqa">PHPQA</a>
                <span>{{"now"|date('Y-m-d H:i')}}</span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav nav-tabs" role="tablist">
                {% for tool in tools %}
                <li{{ loop.first ? ' class=active' : '' }}><a href="#{{ tool }}">{{ tool }}</a></li>
                {% if tabs[tool]  %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        &nbsp;<span class="caret"></span>&nbsp;
                    </a>
                    <ul class="dropdown-menu">
                        {% for link, tab in tabs[tool] %}
                        {% if tab %}
                        <li><a href="#{{ tool }}" data-iframe-tab="{{ link }}">{{ tab }}</a></li>
                        {% else %}
                        <li role="separator" class="divider"></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right visible-md-block visible-lg-block">
              <p class="navbar-text">v{{ appVersion }}</p>
            </ul>
        </div>
      </div>
    </nav>
                
    <div class="tab-content">
        {% for tool in tools %}
        <div role="tabpanel" class="tab-pane{{ loop.first ? ' active' : '' }}" id="{{ tool }}">
            <iframe id="iframe-{{ tool }}" src="{{ tool }}.html"></iframe>
        </div>
        {% endfor %}
    </div>

    <script>
    (function () {
        var tabsInIframe = {
            '#pdepend': openBootstrap,
            '#phpcs': openBootstrap,
            '#phpmd': openBootstrap,
            '#phpcpd': openBootstrap,
            '#phploc': openBootstrap,
            '#phpmetrics': function(iframe, tab) {
                iframe.document.getElementById(tab).onclick();
            },
        };
        listenOnTabChange();
        hideHeadingsH1();
        
        function hideHeadingsH1() {
            var interval = 500;
            $("iframe").each(function () {
                var iframe = $(this)[0];
                setTimeout(
                    function () {
                        hideFirstHeading(iframe);
                    },
                    interval
                );
                interval += 200;
            });

            function hideFirstHeading(iframe) {
                iframe.contentDocument.getElementsByTagName("h1")[0].style.display = 'none';
            }
        }

        function openBootstrap(iframe, tab) {
            iframe.$("nav [aria-controls=" + tab + "]").tab('show');
        }
        
        function listenOnTabChange() {
            $('.nav a').click(function (e) {
              e.preventDefault();
              $(this).tab('show');

              var target = $(this).data('iframe-tab');
              if (target) {
                  var tabOpener = tabsInIframe[$(this).attr('href')];
                  var iframe = $(".tab-pane.active iframe")[0].contentWindow;
                  tabOpener(iframe, target);
              }
            });
        }
    }());
    </script>
</body>
</html>
