{% set phpmetricsVersion = versions['phpmetrics'].version_normalized | number_format %}
{%
set tabs = {
    'phpmetrics': phpmetricsVersion == 1 ? {
        'link-overview': 'Overview',
        'link-score': 'Score',
        'link-relations': 'Relations map',
        'link-repartition': 'Repartition',
        'link-explore': 'Explore',
    } : {
        'index.html': 'Overview',
        'violations.html': 'Violations',
        'loc.html': 'Size & volume',
        'complexity.html': 'Complexity & defects',
        'oop.html': 'Object oriented metrics',
        'relations.html': 'Object relations',
    },
    'pdepend': {
        'overview': 'Overview',
        'packages': 'Packages',
        'dependencies': 'Dependencies',
        'complexity': 'Complexity',
        'separator': '',
        'metrics-file': 'File metrics',
        'metrics-package': 'Package metrics',
        'metrics-trait': 'Trait metrics',
        'metrics-class': 'Class metrics',
        'metrics-method': 'Method metrics',
        'metrics-function': 'Function metrics',
    },
    'phpcs': {
        'overview': 'Overview',
        'errors': 'Errors',
    },
    'php-cs-fixer': {
        'overview': 'Overview',
        'errors': 'Errors',
    },
    'phpmd': {
        'overview': 'Overview',
        'errors': 'Errors',
        'parsing': 'Parsing Errors',
    },
    'phpcpd': {
        'overview': 'Overview',
        'errors': 'Errors',
    },
    'phploc': {
        'overview': 'Overview',
        'ccn': 'Cyclomatic Complexity',
        'dependencies': 'Dependencies',
    },
    'phpunit': {
        'overview': 'Overview',
    },
    'psalm': {
        'overview': 'Overview',
        'errors': 'Errors',
    },
}
%}
<html>
<head>
    <title>phpqa report - v{{ versions['phpqa'].version }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ assets['bootstrap.min.css'] }}" />
    <style type="text/css">
        html, body {
            height: 100%;
        }
        .navbar-nav > li > a {
            padding-left: 12px;
            padding-right: 12px;
        }
        iframe {
            width: 100%;
            height: 100% !important;
            border: 0;
        }
        .dropdown a.dropdown-toggle {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        .collapse.in .dropdown {
            display: none;
        }
        tr.disabled {
            opacity: 0.6;
        }
        #phpmetrics2 {
            margin-top: -20px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav" role="tablist">
                <li class="active"><a href="#phpqa"><strong class="text-primary">PHPQA</strong></a></li>
                {% for tool, result in summary.tools %}
                {% if tool != 'phpqa' %}
                <li><a href="#{{ tool }}">{{ tool }}</a></li>
                {% if tabs[tool]  %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        &nbsp;<span class="caret"></span>&nbsp;
                    </a>
                    <ul class="dropdown-menu">
                        {% for link, tab in tabs[tool] %}
                        {% if tab %}
                        <li><a href="#{{ tool }}" data-iframe-tab="{{ link }}">{{ tab }}</a></li>
                        {% else %}
                        <li role="separator" class="divider"></li>
                        {% endif %}
                        {% endfor %}
                        {% if result.otherReports is not empty %}
                        <li role="separator" class="divider"></li>
                        {% for report in result.otherReports %}
                        <li><a href="#{{ report.id }}">{{ report.name }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-right visible-md-block visible-lg-block">
                <p class="navbar-text">
                    <a target="_blank" href="https://github.com/EdgedesignCZ/phpqa" class="text-muted">v{{ versions['phpqa'].version }}</a>
                </p>
            </ul>
        </div>
      </div>
    </nav>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="phpqa">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        <h2>Summary <span class="badge">{{"now"|date('Y-m-d H:i')}}</span></h2>
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th class="text-left">Tool</th>
                                    <th class="text-center">Allowed errors</th>
                                    <th width="2"></th>
                                    <th class="text-center">Errors count</th>
                                    <th class="text-center"><a href="https://github.com/EdgedesignCZ/phpqa#exit-code">Is OK?</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tool, result in summary.tools %}
                                {% set isPhpqa = tool == 'phpqa' %}
                                {% if isPhpqa %}
                                {% for invalidTool in summary.notInstalledTools %}
                                <tr class="disabled">
                                    <td class="text-left text-muted">{{ invalidTool }}</td>
                                    <td colspan="3">
                                        <code>composer require {{ versions[invalidTool].composer }}</code>
                                    </td>
                                    <td data-toggle="tooltip" data-placement="left" title="{{ invalidTool }} is not installed">
                                        <span class="label label-default">?</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                <tr class="{{ isPhpqa ? (result.hasSucceeded ? 'success' : 'danger') : '' }}">
                                    <th class="text-left">
                                        <a href="#{{ tool }}" data-tool-link class="{{ result.areErrorsAnalyzed and not result.hasSucceeded ? 'text-danger' : '' }}">{{ tool }}</a>
                                        <a href="https://packagist.org/packages/{{ versions[tool].composer }}#{{ versions[tool].version  }}" target="_blank">
                                            <span class="badge" data-toggle="tooltip" data-placement="right" title="{{ versions[tool].authors|striptags }}">
                                                {{ versions[tool].version }}
                                            </span>
                                        </a>
                                    </th>
                                    <td>{{ result.allowedErrorsCount }}</td>
                                    <td>
                                        {% if result.areErrorsAnalyzed and not isPhpqa %}
                                        {% if result.hasSucceeded %}
                                        <small class="text-success">{{ result.errorsCount == result.allowedErrorsCount ? '==' : '>' }}</a>
                                        {% else %}
                                        <small class="text-danger"><</a>
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{{ result.errorsCount }}</td>
                                    {% if result.errorsCount is not empty %}
                                        {% if result.areErrorsAnalyzed %}
                                            {% if result.hasSucceeded %}
                                            <td>
                                                <span class="label label-success">✓</span>
                                            </td>
                                            {% else %}
                                            <td data-toggle="tooltip" data-placement="left" title="{{ not isPhpqa ? ('Errors count is greater than '~result.allowedErrorsCount) : '' }}">
                                                <span class="label label-danger">x</a>
                                            </td>
                                            {% endif %}
                                        {% else %}
                                        <td data-toggle="tooltip" data-placement="left" title="{{ "Allowed errors are not specified. Use '"~tool~":"~result.errorsCount~"' for passing the build and analyzing errors" }}">
                                            <span class="label label-info">✓</span>
                                        </td>
                                        {% endif %}
                                    {% else %}
                                    <td data-toggle="tooltip" data-placement="left" title="Analyzing errors count is not supported">
                                        <span class="label label-info">–</a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <h4>Would you like to run phpqa again?</h4>
                        <pre><code>{{ commands.phpqa }}</code></pre>
                    </div>
                    <div class="col-sm-2">
                        <div class="well">
                            <h3>Files</h3>
                            <ul class="list-unstyled">
                                {% for file in createdFiles %}
                                <li><a href=".{{ file|replace({(buildDir): ''}) }}" target="_blank">{{ file|replace({(buildDir): ''}) }}</a></li>
                                {% endfor %}
                            </ul>
                            <pre><code>{{ commands.files }}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for tool, result in summary.tools %}
        {% if tool != 'phpqa' %}
        <div role="tabpanel" class="tab-pane" id="{{ tool }}">
            <iframe data-tool id="iframe-{{ tool }}" data-src="{{ result.htmlReport|replace({(buildDir): ''}) }}"></iframe>
        </div>
        {% for report in result.otherReports %}
        <div role="tabpanel" class="tab-pane" id="{{ report.id }}">
            <iframe id="iframe-{{ report.id }}" data-src="{{ report.file|replace({(buildDir): ''}) }}"></iframe>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>

    <div class="modal fade" id="file-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <div class="modal-body">
            </div>
          </div>
        </div>
    </div>

    <script src="{{ assets['jquery.min.js'] }}"></script>
    <script src="{{ assets['bootstrap.min.js'] }}"></script>
    <script>
    (function () {
        var tabsInIframe = {
            '#pdepend': openBootstrap,
            '#phpcs': openBootstrap,
            '#phpmd': openBootstrap,
            '#phpcpd': openBootstrap,
            '#phploc': openBootstrap,
            '#phpmetrics': function(window, tab, iframe) {
                {% if phpmetricsVersion == 1 %}
                window.document.getElementById(tab).onclick();
                {% else %}
                var url = $('#iframe-phpmetrics').attr('data-src').replace('index.html', tab);
                iframe.src = url;
                {% endif %}
            },
            '#psalm': openBootstrap,
        };
        var loadedIframes = [];
        listenOnTabChange();
        activateTooltips();
        listenOnFileModal();
        loadFromHash();

        function openBootstrap(iframe, tab) {
            iframe.$("nav [aria-controls=" + tab + "]").tab('show');
        }

        function loadFromHash() {
          var hash = location.hash ? location.hash : '#phpqa';
          var activeTab = $('.navbar-nav [href="' + hash + '"]').first();
          if (activeTab.length) {
            activeTab.click();
          }
        }

        function listenOnTabChange() {
            onNavLink();
            onExternalLink();
            onHashChange();

            function onNavLink() {
                $('.navbar-nav a').click(function (e) {
                    e.preventDefault();

                    var navLink = $(this);
                    var href = navLink.attr('href');

                    if (href === '#') {
                        return;
                    } else if (href === '#phpqa') {
                        return showTab(navLink);
                    }

                    var iframe = $('div' + href + ' iframe').first();
                    if (!iframe.length) {
                        return;
                    }

                    if (loadedIframes.indexOf(href) === -1) {
                        loadedIframes.push(href);
                        loadReport({
                            src: iframe.data('src'),
                            loadCode: function (html) {
                                iframe.replaceWith(html);
                            },
                            loadIframe: function (src) {
                                iframe.attr('src', src);
                                iframe.on('load', function () {
                                    hideFirstHeading(iframe[0]);
                                    openTabInIframe(navLink, iframe[0]);
                                });
                            },
                        });
                    } else {
                        openTabInIframe(navLink, iframe[0]);
                    }
                    showTab(navLink);
                });

                function showTab(navLink) {
                    navLink.tab('show');
                    updateBrowserHistory(navLink);
                }

                function updateBrowserHistory(link) {
                    if (window.history && window.history.pushState) {
                        history.pushState(null, null, link.attr('href'));
                    }
                }

                function openTabInIframe(navLink, iframe) {
                    var target = navLink.data('iframe-tab');
                    if (target) {
                        var tabOpener = tabsInIframe[navLink.attr('href')];
                        tabOpener(iframe.contentWindow, target, iframe);
                    }
                }

                function hideFirstHeading(iframe) {
                    var h1 = iframe.contentDocument.getElementsByTagName("h1")[0];
                    if (h1) {
                        h1.style.display = 'none';
                    }
                }
            }

            function onExternalLink() {
                $('[data-tool-link]').click(function (e) {
                    e.preventDefault();
                    $('.navbar-nav a[href="' + $(this).attr('href') + '"]').first().click();
                });
            }

            function onHashChange() {
                window.addEventListener("popstate", function(e) {
                    loadFromHash();
                });
            }
        }

        function activateTooltips() {
            $('[data-toggle="tooltip"]').tooltip()
        }

        function listenOnFileModal() {
            var modal = $('#file-modal');
            var modalBody = modal.find('.modal-body');
            $('.well a').click(function (e) {
                e.preventDefault();
                loadReport({
                    src: $(this).attr('href'),
                    loadCode: function (html) {
                        modalBody.html(html);
                    },
                    loadIframe: function (src) {
                        modalBody.html('<iframe src="' + src + '"></iframe>');
                    },
                });
                modal.modal({
                    show: true,
                });
            });
        }

        function loadReport(settings) {
            var isXml = settings.src.indexOf('.xml') != -1;
            if (isXml) {
                $.get({
                    url: settings.src,
                    dataType: 'text',
                }).then(function (data) {
                    settings.loadCode('<pre><code>' + escapeHtml(data) + '</pre></code>');
                })
            } else {
                settings.loadIframe(settings.src);
            }
        }

        function escapeHtml(text) {
            return text
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }
    }());
    </script>
</body>
</html>
